<a href="https://colab.research.google.com/github/adebisijoy/Colab/blob/main/Learning_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello world.!')

Hello world.!

In [ ]:
print('Hello World')

Hello World

In [ ]:
print('I love Azubi Africa')

I love Azubi Africa

In [ ]:
fav = 'I love Azubi Africa'

In [ ]:
print(fav)

I love Azubi Africa

In [ ]:
favt = 'I love JESUS'

print(favt)

I love JESUS

## String Concatenation

In [ ]:
first_name = 'Azubi'

last_name = 'Africa'

print('My name is ' + first_name + " " + last_name)

My name is Azubi Africa

f-Strings
formatting strings

In [ ]:
first_name = 'Azubi'

last_name = 'Africa'

print(f'My name is {first_name} {last_name}')

My name is Azubi Africa

## Numbers

In [ ]:
2 + 2

4

In [ ]:
name = 'Azubi Africa'

age = 5

print(f'Hello World! My name is {name}. I am {age} years old' )

Hello World! My name is Azubi Africa. I am 5 years old

## Final Project

In [ ]:
name = input('Hey you, pls enter your name: ')

age = input('Hey you, pls enter your age: ')

print(f'Hey {name}, your age is {age}')

Hey you, pls enter your name: ire
Hey you, pls enter your age: 18
Hey ire, your age is 18

In [ ]:
name = input('Hey you, pls enter your name: ')

age = input('Hey you, pls enter your age: ')

print(f'Hey {name}, your age is {age}')

Hey you, pls enter your name: pearl
Hey you, pls enter your age: 15
Hey pearl, your age is 15

In [ ]:
print('Hello World')

Hello World

In [ ]:
full_name = 'James John'

print('Hello', full_name)

Hello James John

In [ ]:
full_name = 'John Peter'

print(f"Hello {full_name}")

Hello John Peter

In [ ]:
full_name = 'Mary Bless'

print("Hello {}".format(full_name))

Hello Mary Bless

In [ ]:
first_name = 'Right Good'

print(first_name)

Right Good

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
full_name = 'John Matthew'

print('Hello {}'.format(full_name))

Hello John Matthew

In [ ]:
full_name = 'Emmanuel George'

print('Hello', full_name)

Hello Emmanuel George

In [ ]:
full_name = 'Jude briggs'

print('Hello {}'.format(full_name))

Hello Jude briggs

In [ ]:
full_name = 'Jude briggs'

print(f'Hello {full_name}') #called a formatting text

Hello Jude briggs

In [ ]:
full_name = 'Jude briggs'

print('Hello', full_name, '...!')

Hello Jude briggs ...!

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
origin, actual_country = 'Nigeria', ' Lagos '
print("I'm from {}, and I live in {}.".format(origin, actual_country))

I'm from Nigeria, and I live in  Lagos .

In [ ]:
full_name = 'May white'

print("Hello {}.".format(full_name))

Hello May white.

In [ ]:
origin, actual_country = 'Nigeria', 'Lagos'

print("I'm from {}, and I live in {}.".format(origin, actual_country))

I'm from Nigeria, and I live in Lagos.

In [ ]:
typed_value = input("Please type your height (in cm) :")

print(f"Your height is: {typed_value}cm")

Please type your height (in cm) :40
Your height is: 40cm

In [ ]:
typed_value = input("PLease type in your height (in cm) :")

print(f"Your height is: {typed_value}cm")

PLease type in your height (in cm) :50
Your height is: 50cm

In [ ]:
typed_full_name = input('Please type your full_name\n')

print(f'Welcome {typed_full_name}!')

Please type your full_name
Goodness Bright
Welcome Goodness Bright!

In [ ]:
age_str = input("Please enter your age\n>>") # Get age in str format

age = int(age_str) # Convert age to an integer value

# Compute Price
# If age belongs to [0, 16]
if (age>=0) and (age<16):
   price = 10 # price = price + 10

# If age belongs to [16, 65]
elif (age>=16) and (age<65):
   price = 15 # price = price + 15

# If age is superior or equal to 65
elif (age>=65) :
   price = 25 # price = price + 25

# Else means age is inferior to 0
else:
    price = 0


# PRINT PRICE
if price == 0:
     print(f"Sorry. Something went wrong with the value you typed")
else:
     print(f"The price for your ticket is: {price}")

Please enter your age
>>100
The price for your ticket is: 25

In [ ]:
age_str = input("Please enter your age\n>>")

age = int(age_str)

if (age>=0) and (age<16):
   price = 10

elif (age>=16) and (age<65):
   price = 15

elif (age>=65):
   price = 25

else:
   price = 0

if price == 0:
   print(f"Sorry. Something went wrong with the value you typed")
else:
   print(f"The price of your ticket is {price}")

Please enter your age
>>120
The price of your ticket is 25

Loop Statments

In [ ]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [ ]:
a = 5
for i in range(0, a): # will work from 0 to a - 1
      print(i)   #for loop(move three times with tab to work or press enter after for loop)

0
1
2
3
4

In [ ]:
a = 5 + 2
for i in range(0, a):
  print(i)

0
1
2
3
4
5
6

In [ ]:
for i  in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
full_names = ["Emmanuel Matthew", "Marvin Read", "Richard Key"]

for fullname in full_names:
  print(f"I'm {fullname}, and I like programming in python.\n") # \n means return to the next line.

I'm Emmanuel Matthew, and I like programming in python.

I'm Marvin Read, and I like programming in python.

I'm Richard Key, and I like programming in python.

In [ ]:
full_names = ["Shalom Peace", "Success James", "Faith Dan"]

for fullname in full_names:
  print(f"I'm {fullname}, and I like programming in python.\n")

I'm Shalom Peace, and I like programming in python.

I'm Success James, and I like programming in python.

I'm Faith Dan, and I like programming in python.

In [ ]:
count = 0
while (count < 5):
  count = count + 1
  print("We like python")

We like python
We like python
We like python
We like python
We like python

In [ ]:
count = 0
while (count < 5):
  count = count + 1
  print("We like python programming")

We like python programming
We like python programming
We like python programming
We like python programming
We like python programming

In [ ]:
for i in range(1, 7):
  for j in range(i):
    print(i, end=' ')
print()

1 2 2 3 3 3 4 4 4 4 5 5 5 5 5 6 6 6 6 6 6

In [ ]:
age_str = input("Please enter your age\n>>")

age = int(age_str)

if (age>=0) and (age<16):
   price = 10

elif (age>=16) and (age<65):
   price = 15

elif (age>=65):
   price = 25

else:
   price = 0

if price == 0:
     print(f"Sorry. Something went wrong with the value you  typed")

else:
    print(f"The price for your ticket is {price}")

Please enter your age
>>104
The price for your ticket is 25

In [ ]:
age_str = input("Please enter your age\n")

age = int(age_str)

if (age>=0) and (age<16):
   price = 10

elif (age>=16) and (age<65):
   price = 15

elif (age>=65):
   price = 25

else:
   price = 0

if price == 0:
   print(f"Sorry. Something went wrong with the value you typed")
else:
   print(f"The price of your ticket is {price}")

Please enter your age
104
The price of your ticket is 25

In [ ]:
age_str = input("Please enter your age\n")

age = int(age_str)

if (age>=0) and (age<16):
    price = 10

elif (age>=16) and (age<65):
    price = 15

elif (age>=65):
    price = 25

else:
    price = 0

if  price == 0:
   print(f"Sorry. Something went wrong with the value you typed")

else:
   print(f"The price for your ticket is {price}")

Please enter your age
15
The price for your ticket is 10

In [ ]:
a = 5
for i in range(0, a):
    print(i)

0
1
2
3
4

In [ ]:
a = 5 + 2
for i in range(0, a):
  print(i)

0
1
2
3
4
5
6

In [ ]:
full_names = ["Care Pearl", "Samuel Right", "Steven Brave"]

for fullname in full_names:
  print(f"I'm {fullname}. I like python programming.\n")

I'm Care Pearl. I like python programming.

I'm Samuel Right. I like python programming.

I'm Steven Brave. I like python programming.

In [22]:
count = 0
while (count < 6):
  count = count + 1
  print("I like programming.")

I like programming.
I like programming.
I like programming.
I like programming.
I like programming.
I like programming.

In [23]:
for i in range(1, 7):
  for j in range(i):
    print(i, end='')
print()

122333444455555666666

In [26]:
# Define the function
def cinema_ticket_pricing(age):
  """This function will compute the price of the ticket based on the age parameter""" # one line doc string

  # COMPUTE PRICE
  if (age>=0) and (age<16):
    price = 10

  elif (age>=16) and (age<65):
    price = 15

  elif (age>=65):
    price = 25

  else:
    price = 0

  if price == 0:
    print(f"Sorry. Something went wrong with the value you typed")

  else:
    print(f"The price for your ticket: {price}")

  return price

In [24]:
age_str = input("Please enter your age\n>>")

age = int(age_str)

Please enter your age
>>-1

In [27]:
# call the function
price = cinema_ticket_pricing(age=age)

Sorry. Something went wrong with the value you typed

In [28]:
print(price)

0

In [29]:
# BAD function with arguments and default values
def function_name(arg, arg_2, arg_3="Default Value", arg_4):
  """Docstring"""
  pass

SyntaxError: ignored

In [30]:
#  function with arguments and default values
def function_name(arg, arg_2, arg_3="Default Value",):
  """Docstring"""
  pass